

<div class="row mb-3">
  <div class="col-md-10 offset-md-1">
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="https://wineguardian.com/wp-content/uploads/2019/07/summit-wine-Traditional-cellar-1-1200x794.png" >
    <br>
    <h1 style="text-align: center;">Welcome to your wine cellar</h1>
    <h5 style="text-align: center;">
      Keep track of where your wines are. After you enjoy, tag rate, and comment.
    </h5>
    <div class="container">
      <div class="row">
        <div class="col-sm-6" style="text-align: center;">
          Existing user?
          <br>
          <a href="/user_sign_in" class="btn btn-outline-secondary">Sign in</a>
        </div>
        <div class="col-sm-6" style="text-align: center;">
          New user?
          <br>
          <a href="/user_sign_up" class="btn btn-primary">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>